@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  /* font-family: 'League Spartan', sans-serif; */
}

.polygon_wrapper{ 
  filter: drop-shadow(0px -1px 11px  rgba(50, 50, 0, 0.5)); 
}

.hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 47%, 75% 100%, 25% 100%, 0 48%);   
}


.text_gradient {
    background: linear-gradient(96.73deg, #C1292A 27.66%, #D0631A 85.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  .right-to-left {
    direction: rtl;
  }

  .slick-slide div  {
    margin-right: 20px;
  }

  @media only screen and (max-width: 600px) {
    .slick-slide div {
      margin-right: 0px;
    }
  }

  .bg_responsive {
     background: url('./../public/group.png');
    
  }

  .bg_white_left_to_right {
    background: url('./../public/bg_gradientwhite.png');
    background-size: cover;
 }


 
 @media only screen and (max-width: 600px) {
  .bg_white_left_to_right {
     background: url('./../public/bg_gradientwhite.png');
    background-size: contain;
  }
}


  .bg_white {
    background: url('./../public/white_transparent.png');
    background-size: cover;
  }

  @media only screen and (max-width: 600px) {
    .bg_white {
       background: url('./../public/white_transparent.png');
      background-size: contain;
    }
  }


  @media only screen and (max-width: 600px) {
    .bg_responsive {
      background-size: contain;
    }
  }
.rounded_bars {
  background: url('./../public/rounded_bars.png') no-repeat;
}


@media only screen and (max-width: 600px) {
  .rounded_bars {
    background: url('./../public/mobile_responsive.png') no-repeat;
  }
}
  .slick-arrow {
    margin-top: -60px;
    margin-left: 14px;
  } 

.linear_gradient {
  background: "linear-gradient(to top, #282828 50%, white 50%)"
}

.polygon_comment {
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 24% 75%, 18% 83%, 13% 75%, 0% 75%);
}
.slick-arrow::before {
  display: none;
}


.slick-prev, .slick-next {
  font-size: 15px !important;
}

 .slick-prev:before, .slick-next:before  {
  content: '' !important;
}